@page "/"
@inject IJSRuntime JSRuntime

<div style="display: flex; flex-direction: row;">
    <div class="sidebar nav vh-100 overflow-auto" style="flex: 1 0 0; ">
        <NavLink>EnumDecl/02_EnumSimpleContextual.qs</NavLink>
    </div>

    <div class="vh-100 overflow-hidden" style="flex: 2 0 0; background-color:red; ">
        <div style="display:flex; flex-direction:column; height: 100%;">
            <div style="flex: 1 0 auto; background-color:aqua;">
                <MonacoEditor ConstructionOptions="EditorConstructionOptions" CssClass="h-100" />
            </div>
            <div style="flex: 0 0 200px; background-color:yellow;">
                <MonacoEditor ConstructionOptions="EditorConstructionOptions" CssClass="h-100" />
            </div>
        </div>
    </div>
</div>

@code { 
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        return base.OnAfterRenderAsync(firstRender);
    }

    private StandaloneEditorConstructionOptions EditorConstructionOptions(MonacoEditor editor)
    {
        return new StandaloneEditorConstructionOptions
        {
            Language = "javascript",
            Value = "function xyz() {\n" +
                    "   console.log(\"Hello world!\");\n" +
                    "}"
        };
    }
}
