@inherits LayoutComponentBase

<div class="d-flex flex-row">

    <div class="sidebar">
        
    </div>

    <div class="">


        @*<div class="content px-4 h-100">
            @Body
        </div>*@
    </div>
</div>
