@inherits LayoutComponentBase

<div class="d-flex flex-column">

    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="">
        <div class="content px-4 h-100">
            @Body
        </div>
    </div>
</div>
