[*]
end_of_line = crlf

[*.cs]

# HAA0302: Display class allocation to capture closure
dotnet_diagnostic.HAA0302.severity = silent

# HAA0601: Value type to reference type conversion causing boxing allocation
dotnet_diagnostic.HAA0601.severity = warning
